OPENAI_API_KEY=PUT-KEY-HERE

EMBED_MODEL=text-embedding-3-large
EMBED_DIM=3072
CHUNK_SIZE=500
CHUNK_OVERLAP=75

RESPONSE_MODEL=gpt-4o-mini
MAX_TOKENS=1024
TEMPERATURE=0.2

QDRANT_PORT=http://localhost:6333